{{#each chores as |chore|}}

<div id="{{chore.id}}">
  <h1> {{chore.chore_name}}
    <div class="btn-group btn-group-sm" role="group" >
      <button class="btn btn-default btn-sm update-chore" type="button" data-id={{chore.id}}>
        update
      </button>
      <button class="btn btn-default btn-sm delete-chore" type="button" data-id={{chore.id}}>
        delete
      </button>
      <button class="btn btn-default btn-sm finish-chore" type="button" data-id={{chore.id}}>
        done
      </button>
    </div>
  </h1>
  <p id="update-static-{{chore.id}}">
    chore id: {{chore.id}} <br />
    interval: {{chore.chore_interval}} <br />
    last done on: {{chore.last_done}} <br />
    over due: {{chore.over_due}} <br />
  </p>
  <form id="update-inplace-{{chore.id}}" class="visible update-chore-form">
    <fieldset>
      chore id: <input class="unselectable" type="text" name="chore[id]" value="{{chore.id}}" readonly/><br/>
      interval: <input type="number" name="chore[chore_interval]" value="{{chore.chore_interval}}"/><br/>
      last done on: <input type="date" name="chore[last_done]" value="{{chore.last_done}}"/><br/>
      over due: <input type="text" name="chore[over_due]" value="{{chore.over_due}}"/><br/>
      <input type="submit"/>
      <!-- <input type="radio" id="contactChoice1"
       name="contact" value="email">
      <label for="contactChoice1">Email</label>

      <input type="radio" id="contactChoice2"
       name="contact" value="phone">
      <label for="contactChoice2">Phone</label> -->
    </fieldset>
  </form>
</div>

{{/each}}
